body, html {
  height: 100%;
}

#container-feed {
  // width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  // background-image: linear-gradient(130deg, rgb(12, 90, 78) 0%, rgb(30, 119, 109) 51%, rgb(43, 112, 120) 75%);
  // border-left: 1px solid $Main-Green;
  // border-right: 1px solid $Main-Green;
    nav {
      background: linear-gradient(#4a4a4a, #313131);
      // width: 100%;
      // width: 375px;
      padding-bottom: .5em;
      padding-top: .25em;
      position: relative;
      .main-nav {
        li {
          display: inline-block;
          vertical-align: middle;
          padding-bottom: .25em;
        }
            .hamburger {
              width: 20%;
              text-align: left;
              i {
                font-size: 2em;
                // vertical-align: sub;
                padding-bottom: .5em;
                margin-left: .5em;
                color: #30bfaf;
                // border: 1px solid white;
                height: .5em;
                cursor: pointer;
                text-align: left;
              }
            }
            .wp {
              width: 40%;
              text-align: right;
              h3 {
                font-family: $Font-Header;
                font-size: 2em;
                // vertical-align: bottom;
                color: #30bfaf;
                // letter-spacing: 2px;
                // margin-left: 100%;
                margin-top: .2em;
                // border: 1px solid white;
              }
            }
            .play {
              width: 25%;
              text-align: center;
              .fa-play-circle {
                font-size: 24px;
                color: #30bfaf;
                cursor: pointer;
              }
            }
            .avatar-nav {
              width: 10%;
              text-align: right;
              img {
                height: 35px;
                width: auto;
                border-radius: 50%;
                // vertical-align: middle;
                // margin-left: 100%;
                margin-top: .25em;
                border: 1px solid #30bfaf;
                text-align: right;
              }
            }

      }
      .room-info-bar {
        border-top: 1px solid #30bfaf;
        text-align: center;
        padding: .25em 0em 0em 0em;
        .info-nav {
          margin: 0 auto;
          li {
            display: inline-block;
            color: #fff;
            font-family: $Font-Menu;
            font-size: 12px;
            letter-spacing: .75px;
            margin-left: .25em;
            margin-right: .25em;
            vertical-align: middle;
          }
          img {
            height: 1.2em;
            width: auto;
            vertical-align: sub;
          }
          .delayed-icon {
            height: 2.25em;
            width: auto;
            vertical-align: middle;
          }
          .fa-circle {
            font-size: 8px;
            // vertical-align: middle;
          }
        }
      }
    }

    .sideMenu{
      position: absolute;
      // height: 65%;
      width: 25%;
      background: linear-gradient(#313131, #4a4a4a);
      // border: 1px solid black;
      margin-top: -1px;
      z-index: 2;
      // padding-top: 15px;
      overflow: auto;
      border-bottom-right-radius: 5px;
        li{
          // height: 125px;
          // width: 125px;
          color: #fff;
          // border: 1px solid black;
          //margin-top: 12px;
          cursor: pointer;
          padding: .75em;
          p {
              font-family: $Font-Menu;
              text-align: center;
              margin-top: 10%;
              font-size: 1em;
          }
          i {
            font-size: 3em;
          }
          a {
            text-decoration: none;
            color: #fff;
          }
        }
    }

    .message-bar {
      // width: 100%;
      // width: 375px;
      // max-height: 2em;
      background: linear-gradient(#4a4a4a, #313131);
      padding: .5em 0 .5em 0;
      border-top: 1px solid #fff;
      position: absolute;
      width: 100%;
      height: 3em;
      // top: 549px;
      bottom: 0;
      // vertical-align: middle;

      .fa-plus {
        display: inline-block;
        color: #30bfaf;
        cursor: pointer;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 22px;
        vertical-align: bottom;
      }
      form {
        display: inline-block;
        width: 80%;
        input {
          padding: .5em .5em;
          margin: 0 auto;
          // margin-right: 5%;
          width: 75%;
          border: 0;
          outline: 0;
          vertical-align: baseline;
          // background-color: #fff;
          background: transparent;
          border-bottom: 1px solid #30BFAF;
        }::-webkit-input-placeholder {
          font-family: $Font-Menu;
          font-size: 16px;
          opacity: .60;
        }
        input[type="text"] {
          font-family: $Font-Menu;
          font-size: 16px;
          color: #fff;
          letter-spacing: 1px;
        }
        .fa-angle-right {
          // padding: 5px 15px;
          width: 10%;
          color: #30bfaf;
          cursor: pointer;
          margin-left: 5%;
          // margin-right: 5%;
          font-size: 24px;
          font-weight: bolder;
          vertical-align: bottom;
          text-align: center;
        }
      }
    }
    .post {
      width: 100%;
      height: 77%;
      // border: 1px solid red;
      // position: relative;

      overflow: scroll;
      .entire-post {
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        border-radius: 3.5px;
        // border-bottom: 1px solid $Main-Green;
        margin: .75em;
        background-color: #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
      ul {
        display: flex;
        // height: 10em;
        // margin-top: 3.55em;
        li {
          // border-top: 1px solid $Main-Green;
          // border-bottom: 1px solid #d3d3d3;
          // border-right: 1px solid black;
          font-family: $Font-Menu;
          // display: inline-block;
          // width: 100%; // might need this back //
          // max-width: 375px;
          margin: 0 auto;
          padding: 1em .75em;
          // display: inline-block;
          }
          .list-avatar {
            width: 15%;
            // border-bottom: 1px solid #d3d3d3;
            // border-top: 1px solid #d3d3d3;
            font-family: $Font-Menu;
            display: inline-block;
            margin: 0 auto;
            padding: 1em .75em;
            .avatar-div{
              // height: 2.5em;
              // width: 20%;
              text-align: center;
              // border-right: 1px solid black;
              .post-avatar {
                border-radius: 50%;
                // display: inline-block;
                vertical-align: text-top;
                height: 2.25em;
                border: 1px solid #26988c;
                margin-bottom: .25em;
              }
            }
            .username-div {
              text-align: center;
              margin-top: .75em;
              p {
                font-size: 12px;
                color: #808080;
                text-align: center;
                vertical-align: text-bottom;
              }
            }
          }
          .list-par {
            @extend .list-avatar;
            width: 70%;
            .par-div {
              // width: 70%;
              p {
                // max-width: 90%;
                text-align: left;
                display: inline-block;
                letter-spacing: .25px;
                line-height: 1.25;
                overflow-wrap: break-word;
                word-wrap: break-word;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
              }
              .time-div {
                color: gray;
                font-size: 12px;
                font-family: $Font-Menu;
                font-weight: lighter;
                margin-top: 2.85em;
                vertical-align: text-bottom;
              }
            }
          }
          .list-pop {
            @extend .list-avatar;
            width: 15%;
            .pop-div{
              // width: 1em;
              text-align: center;
              .fa-star-o {
                // display: inline-block;
                // height: 1em;
                color: #26988c;
                cursor: pointer;
                font-size: 22px;
                vertical-align: middle;
                // border: 1px solid $Main-Green;
                // padding: 1.5px 4.5px 1.5px 4.5px;
                // background-color: #30BFAF;
                // border-radius: 50%;
              }
              .fa-star {
                @extend .fa-star-o;
              }
            }
            .comment-div {
              @extend .pop-div;
              .fa-comment-o {
                @extend .fa-star-o;
                font-size: 20px;
                margin-top: .25em;

              }
            }
            .number-pops {
              @extend .pop-div;
              margin-bottom: .25em;
              margin-top: .25em;
              p {
                font-size: 11px;
                color: gray;
              }
            }
          }
        }
        .contains-comment {
          border-top: 1px solid #d3d3d3;
          // border-top: none;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          width: 70%;
          margin: 0 auto;
          margin-bottom: .5em;
          font-family: $Font-Menu;
          padding: 1em .5em;
          .comment-left {
            width: 15%;
            display: inline-block;
            text-align: center;
            margin-right: 10%;
            .commenter-avatar {
              height: 1.75em;
              border-radius: 50%;
              margin-bottom: .25em;
              }
            .commenter-username {
              color: #808080;
              font-size: 12px;
            }
          }
          .comment-center {
            width: 70%;
            display: inline-block;
            vertical-align: top;
            .commenter-text {
              font-size: 14px;
              margin-bottom: 1.25em;
            }
            .commenter-timestamp {
              color: #808080;
              font-size: 12px;
            }
          }
        }

      .comment-section {
        margin: 0 auto;
        // border: 1px solid red;
        padding: 1em .5em;
        // width: 100%;
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
        display: block;
        form {
          // border: 1px solid green;
          width: 65%;
          margin: 0 auto;
          text-align: center;
          display: block;
          p {
            color: #30BFAF;
            font-weight: bold;
            font-family: $Font-Menu;
          }
          .comment-box {
            display: inline-block;
            width: 70%;
            padding: .5em;
            border-radius: 3px;
            border: 1px solid #d3d3d3;
          }
          .submit-comment {
            display: inline-block;
            width: 5%;
            border: none;
            background-image: -webkit-linear-gradient(top, #7DDBD0 0%, #30BFAF 100%);
            border-radius: 3px;
            padding: 3px 13px 3px 10px;
            margin-left: .5em;
            vertical-align: middle;
            cursor: pointer;
            i {
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
     }
    }

}
