#container-login {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(130deg, rgb(12, 90, 78) 0%, rgb(30, 119, 109) 51%, rgb(43, 112, 120) 75%);
  position: absolute;
  overflow: scroll;

    header {
      // width: 50%;
      // height: 50%;
      // border: 1px solid white;
      margin: 0 auto;
      padding-top: 30%;
      p {
        font-family: $Font-Menu;
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-bottom: 1em;
        margin-top: .5em;
      }
      h1 {
        font-family: $Font-Header;
        font-size: 40px;
        color: #fff;
        text-align: center;
        line-height: 1.25;
        text-shadow: 2px 2px 2px #30BFAF;
        // letter-spacing: .5px;
      }
      h2 {
        font-family: $Font-Menu;
        font-size: 22px;
        color: #fff;
        text-align: center;
        line-height: 1.25;
      }
    }
    .login-inputs {
      // border: 1px solid white;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      margin-top: 1.5em;
      display: block;
         .invalid {
           font-family: $Font-Menu;
          //  font-weight: bold;
           font-size: 15px;
           color: #fff;
           opacity: .7;
           margin-top: 3%;
         }
         .fa-times {
           color: #e60000;
           font-size: 18px;
           font-weight: lighter;
           margin-right: 5px;
         }
         .invalid-server {
           @extend .invalid;
         }
         .username[type="text"] {
          color: #fff;
          font-family: $Font-Menu;
          font-size: 13.5px;
          letter-spacing: 1.75px;
         }
         .username[type="password"] {
          color: #fff;
          font-family: $Font-Menu;
          font-size: 13.5px;
          letter-spacing: 2px;
         }
        .username {
          width: 60%;
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 2px solid #30BFAF;
          margin-bottom: 1em;
          padding: .5em;
        }::-webkit-input-placeholder {
          font-family: $Font-Menu;
          letter-spacing: 1.75px;
          color: #fff;
          opacity: .50;
        }
        .password {
          @extend .username;
        }
        .go-login {
          font-family: $Font-Menu;
          font-size: 14px;
          padding: 6px 15px;
          background-color: #30BFAF;
          border: none;
          color: #fff;
          cursor: pointer;
          margin-top: .5em;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 4px 12px 0 rgba(0,0,0,0.18);
        }
    }

    .sign-up-inputs {
      @extend .login-inputs;

          .check {
            margin-right: -1em;
            display: inline-block;
            .fa-check-circle {
              color: #32cd32;
              // padding-left: .5em;
            }
          }
          .check2 {
            @extend .check;
          }
          .first-name {
            @extend .username;
          }
          .last-name {
            @extend .first-name;
          }
          .email {
            @extend .first-name;
          }
          .email[type="email"] {
            @extend .username[type="text"]
          }
          .username-signup {
            @extend .first-name;
          }
          .password-signup {
            @extend .first-name;
          }
          .re-enter-password {
            @extend .first-name;
          }
          .go-signup {
            @extend .go-login;
            background-color: #7DDBD0;
          }
          .dont-match {
            border-bottom: 2px solid #990000;
          }
          .match {
            border-bottom: 2px solid #30BFAF;
          }

      .signup-message {
        @extend .invalid;
        line-height: 1.25;
      }
      .pw-length {
        @extend .signup-message;
        // margin-top: 5%;
      }
      .username-taken {
        @extend .pw-length;
      }
      .email-taken {
        @extend .pw-length;
      }
    }
    .buttons {
      // border: 1px solid white;
      margin-top: 1.5em;
      text-align: center;
      .login {
        font-family: $Font-Menu;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #30BFAF;
        // border: 1px solid #fff;
        border: none;
        color: #fff;
        margin-right: .5em;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 4px 12px 0 rgba(0,0,0,0.18);
        i {
          font-weight: bold;
          margin-left: .25em;
        }
      }
      .sign-up {
        font-family: $Font-Menu;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #7DDBD0;
        // border: 1px solid #fff;
        border: none;
        color: #fff;
        margin-left: .5em;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 4px 12px 0 rgba(0,0,0,0.18);
        i {
          font-weight: bold;
          margin-left: .25em;
        }
      }
    }
    .learn-more {
      font-family: $Font-Menu;
      font-size: 12px;
      text-decoration: underline;
      font-style: italic;
      color: #fff;
      text-align: center;
      margin-top: 1em;
      opacity: .75;
      cursor: pointer;
    }:hover {
      opacity: 1;
    }
    .fa-spin {
      width: 100%;
      margin-top: 10%;
      color: #fff;
      text-align: center;
    }
    .about {
      padding-top: 1em;
      width: 60%;
      margin: 0 auto;
      font-family: $Font-Menu;
      font-size: 16px;
      color: #fff;
      text-align: justify;
      line-height: 1.5;
    }
    .center {
      text-align: center;
    }

}
