@import "https://fonts.googleapis.com/css?family=Monoton";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

#container-feed {
  width: 100%;
  height: 100%;
  position: absolute; }
  #container-feed nav {
    background: linear-gradient(#4a4a4a, #313131);
    padding-bottom: .5em;
    padding-top: .25em;
    position: relative; }
    #container-feed nav ul li {
      display: inline-block;
      vertical-align: middle; }
    #container-feed nav ul .hamburger {
      width: 20%;
      text-align: left; }
      #container-feed nav ul .hamburger i {
        font-size: 2em;
        padding-bottom: .5em;
        margin-left: .5em;
        color: #30bfaf;
        height: .5em;
        cursor: pointer;
        text-align: left; }
    #container-feed nav ul .wp {
      width: 60%;
      text-align: center; }
      #container-feed nav ul .wp h3 {
        font-family: "Monoton", Verdana, sans-serif;
        font-size: 2em;
        color: #30bfaf;
        margin-top: .2em; }
    #container-feed nav ul .avatar-nav {
      width: 15%;
      text-align: right; }
      #container-feed nav ul .avatar-nav img {
        height: 35px;
        width: auto;
        border-radius: 50%;
        margin-top: .25em;
        border: 1px solid #30bfaf;
        text-align: right; }
  #container-feed .sideMenu {
    position: absolute;
    height: 575px;
    width: 125px;
    background: linear-gradient(#313131, #4a4a4a);
    margin-top: -1px;
    z-index: 2;
    padding-top: 15px;
    overflow: auto;
    border-bottom-right-radius: 5px; }
    #container-feed .sideMenu li {
      height: 125px;
      width: 125px;
      color: #fff;
      cursor: pointer; }
      #container-feed .sideMenu li p {
        font-family: "Asap", Helvetica, sans-serif;
        text-align: center;
        margin-top: 15px;
        font-size: 1.25em; }
      #container-feed .sideMenu li i {
        font-size: 3em; }
      #container-feed .sideMenu li a {
        text-decoration: none;
        color: #fff; }
  #container-feed .message-bar {
    background: linear-gradient(#4a4a4a, #313131);
    padding: .5em 0 .5em 0;
    border-top: 1px solid #fff;
    position: absolute;
    width: 100%;
    height: 3em;
    bottom: 0; }
    #container-feed .message-bar .fa-plus {
      display: inline-block;
      color: #30bfaf;
      cursor: pointer;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 22px;
      vertical-align: bottom; }
    #container-feed .message-bar form {
      display: inline-block;
      width: 80%; }
      #container-feed .message-bar form input {
        padding: .5em .5em;
        margin: 0 auto;
        width: 75%;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        border-bottom: 1px solid #30BFAF; }
      #container-feed .message-bar form ::-webkit-input-placeholder {
        font-family: "Asap", Helvetica, sans-serif;
        font-size: 16px;
        opacity: .60; }
      #container-feed .message-bar form input[type="text"] {
        font-family: "Asap", Helvetica, sans-serif;
        font-size: 16px;
        color: #fff;
        letter-spacing: 1px; }
      #container-feed .message-bar form .fa-angle-right {
        width: 10%;
        color: #30bfaf;
        cursor: pointer;
        margin-left: 5%;
        font-size: 24px;
        font-weight: bolder;
        vertical-align: bottom;
        text-align: center; }
  #container-feed .post {
    width: 100%;
    height: 90%;
    overflow: scroll; }
    #container-feed .post .entire-post {
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      border-left: 2px solid #ededed;
      border-right: 2px solid #ededed;
      border-radius: 3.5px;
      margin: .75em;
      background-color: #fff;
      box-shadow: -4px 3px 6px 0 rgba(0, 0, 0, 0.3), -3px 3px 10px 0 rgba(0, 0, 0, 0.18); }
      #container-feed .post .entire-post ul {
        display: flex; }
        #container-feed .post .entire-post ul li {
          font-family: "Asap", Helvetica, sans-serif;
          margin: 0 auto;
          padding: 1em .75em; }
        #container-feed .post .entire-post ul .list-avatar, #container-feed .post .entire-post ul .list-par, #container-feed .post .entire-post ul .list-pop {
          width: 15%;
          font-family: "Asap", Helvetica, sans-serif;
          display: inline-block;
          margin: 0 auto;
          padding: 1em .75em; }
          #container-feed .post .entire-post ul .list-avatar .avatar-div, #container-feed .post .entire-post ul .list-par .avatar-div, #container-feed .post .entire-post ul .list-pop .avatar-div {
            text-align: center; }
            #container-feed .post .entire-post ul .list-avatar .avatar-div .post-avatar, #container-feed .post .entire-post ul .list-par .avatar-div .post-avatar, #container-feed .post .entire-post ul .list-pop .avatar-div .post-avatar {
              border-radius: 50%;
              vertical-align: text-top;
              height: 2.25em;
              border: 1px solid #26988c;
              margin-bottom: .25em; }
          #container-feed .post .entire-post ul .list-avatar .username-div, #container-feed .post .entire-post ul .list-par .username-div, #container-feed .post .entire-post ul .list-pop .username-div {
            text-align: center;
            margin-top: .75em; }
            #container-feed .post .entire-post ul .list-avatar .username-div p, #container-feed .post .entire-post ul .list-par .username-div p, #container-feed .post .entire-post ul .list-pop .username-div p {
              font-size: 12px;
              color: #808080;
              text-align: center;
              vertical-align: text-bottom; }
        #container-feed .post .entire-post ul .list-par {
          width: 70%; }
          #container-feed .post .entire-post ul .list-par .par-div p {
            text-align: left;
            display: inline-block;
            letter-spacing: .25px;
            line-height: 1.25;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto; }
          #container-feed .post .entire-post ul .list-par .par-div .time-div {
            color: gray;
            font-size: 12px;
            font-family: "Asap", Helvetica, sans-serif;
            font-weight: lighter;
            margin-top: 2.85em;
            vertical-align: text-bottom; }
        #container-feed .post .entire-post ul .list-pop {
          width: 15%; }
          #container-feed .post .entire-post ul .list-pop .pop-div, #container-feed .post .entire-post ul .list-pop .comment-div {
            text-align: center; }
            #container-feed .post .entire-post ul .list-pop .pop-div .fa-star-o, #container-feed .post .entire-post ul .list-pop .comment-div .fa-star-o, #container-feed .post .entire-post ul .list-pop .pop-div .fa-star, #container-feed .post .entire-post ul .list-pop .comment-div .fa-star, #container-feed .post .entire-post ul .list-pop .comment-div .fa-comment-o {
              color: #26988c;
              cursor: pointer;
              font-size: 22px;
              vertical-align: middle; }
          #container-feed .post .entire-post ul .list-pop .comment-div .fa-comment-o {
            font-size: 20px;
            margin-top: 1em; }
      #container-feed .post .entire-post .contains-comment {
        border-top: 1px solid #d3d3d3;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2em;
        font-family: "Asap", Helvetica, sans-serif;
        padding: 1em .5em; }
        #container-feed .post .entire-post .contains-comment .comment-left {
          width: 15%;
          display: inline-block;
          text-align: center;
          margin-right: 10%; }
          #container-feed .post .entire-post .contains-comment .comment-left .commenter-avatar {
            height: 1.75em;
            border-radius: 50%;
            margin-bottom: .25em; }
          #container-feed .post .entire-post .contains-comment .comment-left .commenter-username {
            color: #808080;
            font-size: 12px; }
        #container-feed .post .entire-post .contains-comment .comment-center {
          width: 70%;
          display: inline-block;
          vertical-align: top; }
          #container-feed .post .entire-post .contains-comment .comment-center .commenter-text {
            font-size: 14px;
            margin-bottom: 1.25em; }
          #container-feed .post .entire-post .contains-comment .comment-center .commenter-timestamp {
            color: #808080;
            font-size: 12px; }
      #container-feed .post .entire-post .comment-section {
        margin: 0 auto;
        padding: 1em .5em;
        border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
        display: block; }
        #container-feed .post .entire-post .comment-section form {
          width: 65%;
          margin: 0 auto;
          text-align: center;
          display: block; }
          #container-feed .post .entire-post .comment-section form p {
            color: #30BFAF;
            font-weight: bold;
            font-family: "Asap", Helvetica, sans-serif; }
          #container-feed .post .entire-post .comment-section form .comment-box {
            display: inline-block;
            width: 70%;
            padding: .5em;
            border-radius: 3px;
            border: 1px solid #d3d3d3; }
          #container-feed .post .entire-post .comment-section form .submit-comment {
            display: inline-block;
            width: 5%;
            border: none;
            background-image: -webkit-linear-gradient(top, #7DDBD0 0%, #30BFAF 100%);
            border-radius: 3px;
            padding: 3px 13px 3px 10px;
            margin-left: .5em;
            vertical-align: middle;
            cursor: pointer; }
            #container-feed .post .entire-post .comment-section form .submit-comment i {
              color: #fff;
              font-size: 16px; }

#landingContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-family: "Asap", Helvetica, sans-serif;
  overflow-y: auto;
  color: #191919;
  background: #f1f1f1; }
  #landingContainer a {
    text-decoration: none; }
  #landingContainer .navMenu {
    font-family: Monoton;
    width: 100%;
    background: linear-gradient(#4a4a4a, #313131);
    color: #30bfaf;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px; }
    #landingContainer .navMenu li {
      display: inline-block;
      font-size: 2.5em; }
    #landingContainer .navMenu .menu {
      float: left;
      font-size: 2em;
      padding-left: 10px; }
    #landingContainer .navMenu .avatar {
      float: right;
      padding-right: 5px; }
      #landingContainer .navMenu .avatar img {
        height: 35px;
        width: 35px; }
    #landingContainer .navMenu .logo {
      vertical-align: top;
      margin-left: -20px; }
    #landingContainer .navMenu .search {
      float: left;
      font-size: 2em;
      padding-left: 10px; }
  #landingContainer .sideMenu {
    position: absolute;
    height: 575px;
    width: 125px;
    background: linear-gradient(#313131, #4a4a4a);
    margin-top: -1px;
    z-index: 2;
    padding-top: 15px;
    overflow: auto; }
    #landingContainer .sideMenu li {
      height: 125px;
      width: 125px;
      color: white;
      cursor: pointer; }
      #landingContainer .sideMenu li p {
        text-align: center;
        margin-top: 15px;
        font-size: 1.25em; }
      #landingContainer .sideMenu li i {
        font-size: 3em; }
  #landingContainer .searchBarHolder {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, #0c5a4e 0%, #1e776d 51%, #2b7078 75%); }
    #landingContainer .searchBarHolder .fa-chevron-left {
      float: left;
      color: #30bfaf;
      margin-left: 10px;
      margin-top: 25px;
      font-size: 1.7em; }
    #landingContainer .searchBarHolder .searchResult {
      margin-top: 25px; }
      #landingContainer .searchBarHolder .searchResult .popularHeader {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        font-size: 1.33em;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid white; }
      #landingContainer .searchBarHolder .searchResult .popular {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        font-size: 1.5em;
        color: white;
        padding: .2em;
        margin-bottom: .2em; }
      #landingContainer .searchBarHolder .searchResult .userOrShow {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        font-size: 1.5em;
        color: white;
        padding: .2em;
        margin-bottom: .2em; }
        #landingContainer .searchBarHolder .searchResult .userOrShow a {
          color: white; }
        #landingContainer .searchBarHolder .searchResult .userOrShow .type {
          display: inline-block;
          font-size: .75em;
          width: 20%; }
        #landingContainer .searchBarHolder .searchResult .userOrShow .watchButton {
          float: right;
          margin-right: 25px;
          font-size: .75em;
          border: none;
          color: white;
          background: #30bfaf; }
  #landingContainer .searchBar {
    display: block;
    color: #30bfaf;
    font-size: .4em;
    width: 80%;
    font-size: 1.25em;
    padding-top: 25px;
    margin-left: 40px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #30bfaf; }
  #landingContainer .delayTimer {
    margin-top: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; }
    #landingContainer .delayTimer p {
      text-align: center; }
    #landingContainer .delayTimer .countDown {
      margin-top: 1.5em;
      font-size: 3em; }
  #landingContainer .startingLiveRoom {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 15px;
    text-align: center;
    background: #30bfaf;
    color: white; }
    #landingContainer .startingLiveRoom .setUp {
      font-size: 1.85em;
      padding-top: 10px; }
    #landingContainer .startingLiveRoom .fa-spinner {
      margin-top: 35px;
      font-size: 3em; }
    #landingContainer .startingLiveRoom .setUpPosts {
      margin-top: 15px;
      font-size: 1.25em; }
    #landingContainer .startingLiveRoom .back {
      margin-top: 20px;
      font-size: 1.25em; }
    #landingContainer .startingLiveRoom .roomSelection {
      width: 100%;
      margin-top: 5px; }
      #landingContainer .startingLiveRoom .roomSelection div {
        display: inline-block;
        width: 48%;
        height: 50px;
        vertical-align: top;
        border-radius: 10px;
        margin-bottom: 35px; }
        #landingContainer .startingLiveRoom .roomSelection div p {
          padding-top: 12px; }
      #landingContainer .startingLiveRoom .roomSelection .allRoom {
        background-color: #4894bf; }
      #landingContainer .startingLiveRoom .roomSelection .watchRoom {
        background: #BF3087; }
  #landingContainer .upcomingShows {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 29%;
    color: white;
    background-image: linear-gradient(130deg, #30bfaf 0%, #32c2b1 51%, #34c4b3 75%);
    padding-top: 10px; }
    #landingContainer .upcomingShows .startSoon {
      text-align: center;
      font-size: 1.75em; }
  #landingContainer .upcomingShowsDetails {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 29%;
    color: white;
    padding-top: 10px; }
    #landingContainer .upcomingShowsDetails .startSoon {
      text-align: center;
      font-size: 1.75em; }
    #landingContainer .upcomingShowsDetails .upcomingShow {
      color: white;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(130deg, #30bfaf 0%, #32c2b1 51%, #34c4b3 75%);
      width: 90%;
      vertical-align: top;
      border-radius: 20px; }
      #landingContainer .upcomingShowsDetails .upcomingShow .showTitle {
        text-align: center;
        font-size: 1.33em;
        padding-top: 8px; }
      #landingContainer .upcomingShowsDetails .upcomingShow .epTitle {
        margin-top: 5px;
        text-align: center;
        font-size: 1em; }
      #landingContainer .upcomingShowsDetails .upcomingShow .icon {
        width: 100%;
        text-align: center; }
      #landingContainer .upcomingShowsDetails .upcomingShow .fa-play {
        margin-top: 10px;
        font-size: 1.5em;
        padding-bottom: 3px; }
  #landingContainer .landingContentWrapper {
    height: 100%; }
    #landingContainer .landingContentWrapper .partyRoom {
      text-align: center;
      font-size: 1.75em;
      margin-top: 10px;
      height: 5%; }
    #landingContainer .landingContentWrapper .partyRoomForm {
      margin-top: 10px;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      #landingContainer .landingContentWrapper .partyRoomForm .partyRoomId {
        width: 75%; }
      #landingContainer .landingContentWrapper .partyRoomForm .submitPartyRoom {
        width: 22%; }
    #landingContainer .landingContentWrapper .recentShows {
      width: 100%;
      height: 29%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: white;
      padding-top: 10px;
      background: #4894bf; }
      #landingContainer .landingContentWrapper .recentShows .recentSoon {
        font-size: 1.75em;
        text-align: center; }
    #landingContainer .landingContentWrapper .recentShow {
      display: block;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      background: #4894bf;
      color: white;
      border-radius: 12px;
      width: 90%;
      vertical-align: top; }
      #landingContainer .landingContentWrapper .recentShow .showTitle {
        text-align: center;
        font-size: 1.33em;
        padding: 12px; }
    #landingContainer .landingContentWrapper .startDelayRoom {
      width: 100%;
      height: 29%;
      color: white;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background: #c6825b; }
      #landingContainer .landingContentWrapper .startDelayRoom p {
        font-size: 1.5em;
        margin-bottom: 5px; }
      #landingContainer .landingContentWrapper .startDelayRoom .create {
        padding-top: 25px; }
      #landingContainer .landingContentWrapper .startDelayRoom .or {
        font-size: 1.5em; }

#container-login {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(130deg, #0c5a4e 0%, #1e776d 51%, #2b7078 75%);
  position: absolute;
  overflow: scroll; }
  #container-login header {
    margin: 0 auto;
    padding-top: 30%; }
    #container-login header p {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 18px;
      color: #fff;
      text-align: center;
      margin-bottom: 1em;
      margin-top: .5em; }
    #container-login header h1 {
      font-family: "Monoton", Verdana, sans-serif;
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 1.25;
      text-shadow: 2px 2px 2px #30BFAF; }
    #container-login header h2 {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 22px;
      color: #fff;
      text-align: center;
      line-height: 1.25; }
  #container-login .login-inputs, #container-login .sign-up-inputs {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;
    display: block; }
    #container-login .login-inputs .invalid, #container-login .sign-up-inputs .invalid, #container-login .login-inputs .invalid-server, #container-login .sign-up-inputs .invalid-server, #container-login .sign-up-inputs .signup-message, #container-login .sign-up-inputs .pw-length, #container-login .sign-up-inputs .username-taken, #container-login .sign-up-inputs .email-taken {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 15px;
      color: #fff;
      opacity: .7;
      margin-top: 3%; }
    #container-login .login-inputs .fa-times, #container-login .sign-up-inputs .fa-times {
      color: #e60000;
      font-size: 18px;
      font-weight: lighter;
      margin-right: 5px; }
    #container-login .login-inputs .invalid-server, #container-login .sign-up-inputs .invalid-server {
      line-height: 1.25; }
    #container-login .login-inputs .username[type="text"], #container-login .sign-up-inputs .username[type="text"], #container-login .login-inputs [type="text"].password, #container-login .sign-up-inputs [type="text"].password, #container-login .sign-up-inputs [type="text"].first-name, #container-login .sign-up-inputs [type="text"].last-name, #container-login .sign-up-inputs [type="text"].email, #container-login .sign-up-inputs [type="text"].username-signup, #container-login .sign-up-inputs [type="text"].password-signup, #container-login .sign-up-inputs [type="text"].re-enter-password, #container-login .sign-up-inputs .email[type="email"] {
      color: #fff;
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 13.5px;
      letter-spacing: 1.75px; }
    #container-login .login-inputs .username[type="password"], #container-login .sign-up-inputs .username[type="password"], #container-login .login-inputs [type="password"].password, #container-login .sign-up-inputs [type="password"].password, #container-login .sign-up-inputs [type="password"].first-name, #container-login .sign-up-inputs [type="password"].last-name, #container-login .sign-up-inputs [type="password"].email, #container-login .sign-up-inputs [type="password"].username-signup, #container-login .sign-up-inputs [type="password"].password-signup, #container-login .sign-up-inputs [type="password"].re-enter-password {
      color: #fff;
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 13.5px;
      letter-spacing: 2px; }
    #container-login .login-inputs .username, #container-login .sign-up-inputs .username, #container-login .login-inputs .password, #container-login .sign-up-inputs .password, #container-login .sign-up-inputs .first-name, #container-login .sign-up-inputs .last-name, #container-login .sign-up-inputs .email, #container-login .sign-up-inputs .username-signup, #container-login .sign-up-inputs .password-signup, #container-login .sign-up-inputs .re-enter-password {
      width: 60%;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 2px solid #30BFAF;
      margin-bottom: 1em;
      padding: .5em; }
    #container-login .login-inputs ::-webkit-input-placeholder, #container-login .sign-up-inputs ::-webkit-input-placeholder {
      font-family: "Asap", Helvetica, sans-serif;
      letter-spacing: 1.75px;
      color: #fff;
      opacity: .50; }
    #container-login .login-inputs .go-login, #container-login .sign-up-inputs .go-login, #container-login .sign-up-inputs .go-signup {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 14px;
      padding: 6px 15px;
      background-color: #30BFAF;
      border: none;
      color: #fff;
      cursor: pointer;
      margin-top: .5em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 4px 12px 0 rgba(0, 0, 0, 0.18); }
  #container-login .sign-up-inputs .check, #container-login .sign-up-inputs .check2 {
    margin-right: -1em;
    display: inline-block; }
    #container-login .sign-up-inputs .check .fa-check-circle, #container-login .sign-up-inputs .check2 .fa-check-circle {
      color: #32cd32; }
  #container-login .sign-up-inputs .go-signup {
    background-color: #7DDBD0; }
  #container-login .sign-up-inputs .dont-match {
    border-bottom: 2px solid #990000; }
  #container-login .sign-up-inputs .match {
    border-bottom: 2px solid #30BFAF; }
  #container-login .sign-up-inputs .signup-message, #container-login .sign-up-inputs .pw-length, #container-login .sign-up-inputs .username-taken, #container-login .sign-up-inputs .email-taken {
    line-height: 1.25; }
  #container-login .buttons {
    margin-top: 1.5em;
    text-align: center; }
    #container-login .buttons .login {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 16px;
      padding: 10px 20px;
      background-color: #30BFAF;
      border: none;
      color: #fff;
      margin-right: .5em;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 4px 12px 0 rgba(0, 0, 0, 0.18); }
      #container-login .buttons .login i {
        font-weight: bold;
        margin-left: .25em; }
    #container-login .buttons .sign-up {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 16px;
      padding: 10px 20px;
      background-color: #7DDBD0;
      border: none;
      color: #fff;
      margin-left: .5em;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 4px 12px 0 rgba(0, 0, 0, 0.18); }
      #container-login .buttons .sign-up i {
        font-weight: bold;
        margin-left: .25em; }
  #container-login .learn-more {
    font-family: "Asap", Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    color: #fff;
    text-align: center;
    margin-top: 1em;
    opacity: .75;
    cursor: pointer; }
  #container-login :hover {
    opacity: 1; }
  #container-login .fa-spin {
    width: 100%;
    margin-top: 10%;
    color: #fff;
    text-align: center; }
  #container-login .about {
    padding-top: 1em;
    width: 60%;
    margin: 0 auto;
    font-family: "Asap", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: justify;
    line-height: 1.5; }
  #container-login .center {
    text-align: center; }

#profileContainer {
  height: 100%;
  width: 100%;
  font-family: "Asap", Helvetica, sans-serif; }
  #profileContainer .header {
    width: 100%;
    height: 35%;
    padding-bottom: 15px;
    background-image: linear-gradient(130deg, #30bfaf 0%, #32c2b1 51%, #34c4b3 75%); }
    #profileContainer .header .fa-chevron-left {
      color: white;
      font-size: 2em;
      display: inline-block;
      width: 12%;
      margin-top: 5px;
      margin-left: 5px; }
    #profileContainer .header .avatar {
      display: block;
      margin-top: -10px;
      margin-right: auto;
      margin-left: auto;
      width: 35%;
      height: auto; }
    #profileContainer .header .avatarUpload {
      width: 50%;
      display: block;
      margin-left: auto;
      padding-left: 150px;
      margin-right: auto; }
    #profileContainer .header .fa-floppy-o {
      display: inline-block;
      width: 10%;
      color: white;
      font-size: 1.5em;
      float: left;
      margin-left: 10px; }
    #profileContainer .header .fa-pencil {
      display: inline-block;
      width: 10%;
      color: white;
      font-size: 1.5em;
      float: right; }
    #profileContainer .header .contact {
      margin-top: 15px; }
      #profileContainer .header .contact .contactList {
        display: inline-block;
        font-size: .75em;
        margin-left: 10px;
        margin-right: 10px; }
      #profileContainer .header .contact .fa-envelope-o {
        font-size: 3.5em; }
      #profileContainer .header .contact .fa-plus {
        font-size: 3.5em; }
    #profileContainer .header .names {
      color: white;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      #profileContainer .header .names .firstName {
        font-size: 1.5em;
        margin-left: -50px; }
      #profileContainer .header .names .lastName {
        font-size: 1.5em;
        margin-right: -50px; }
      #profileContainer .header .names .screenName {
        font-size: 1.5em;
        font-size: 1em; }
    #profileContainer .header .socialStats {
      width: 95%;
      margin-top: 12px; }
      #profileContainer .header .socialStats li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px; }
      #profileContainer .header .socialStats .socialNumbers {
        font-size: 2.5em; }
  #profileContainer .profileDetails {
    margin: 12px 12px 0px 12px; }
    #profileContainer .profileDetails .fa-circle-thin {
      font-size: 1.33em;
      margin-right: 35px;
      color: #30bfaf; }
    #profileContainer .profileDetails .fa-globe {
      font-size: 1.33em;
      margin-right: 35px;
      color: #30bfaf; }
    #profileContainer .profileDetails .fa-play {
      font-size: 1.33em;
      margin-right: 35px;
      color: #30bfaf; }
    #profileContainer .profileDetails span {
      font-size: 1.33em;
      color: #010202; }
    #profileContainer .profileDetails p {
      margin-bottom: 35px;
      padding-bottom: 20px;
      border-bottom: 1px solid #1e776d; }

.showContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-family: "Asap", Helvetica, sans-serif;
  overflow-y: auto;
  background-color: black;
  color: white; }
  .showContainer .delayTimer {
    margin-top: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; }
    .showContainer .delayTimer p {
      text-align: center; }
    .showContainer .delayTimer i {
      font-size: 6em;
      margin-top: 45px; }
    .showContainer .delayTimer .countDown {
      margin-top: .75em;
      font-size: 3em; }
  .showContainer a {
    text-decoration: none;
    color: black; }
  .showContainer .fa-chevron-left {
    float: left;
    color: black;
    font-size: 1.5em;
    margin-top: 5px; }
  .showContainer .header {
    width: 100%;
    background: white; }
  .showContainer .poster {
    height: 50%;
    width: 100%; }
  .showContainer .posterBack {
    opacity: .15; }
  .showContainer .showDetails {
    color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
    .showContainer .showDetails .title {
      font-size: 2.25em;
      padding-top: 25px; }
    .showContainer .showDetails .description {
      font-size: 1em;
      margin-top: 20px; }
  .showContainer .specificButtons {
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; }
    .showContainer .specificButtons .recentButton {
      width: 80%;
      border: 1px solid black;
      padding: 8px 0px 8px 0px;
      font-size: 1em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-image: linear-gradient(130deg, #30bfaf 0%, #32c2b1 51%, #34c4b3 75%);
      font-size: 1em; }
    .showContainer .specificButtons .upcomingButton {
      width: 80%;
      border: 1px solid black;
      padding: 8px 0px 8px 0px;
      vertical-align: top;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-image: linear-gradient(130deg, #30bfaf 0%, #32c2b1 51%, #34c4b3 75%);
      z-index: 15; }
  .showContainer .startChannel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33%;
    background: #c6825b;
    color: white; }
    .showContainer .startChannel .startButtonTitle {
      font-size: 1.33em;
      text-align: center;
      margin-top: 10px; }
    .showContainer .startChannel .seasonSelect {
      width: 40%;
      margin-left: auto;
      margin-right: auto; }
    .showContainer .startChannel .partyRoom {
      margin-top: 10px;
      font-size: 1.15em; }
    .showContainer .startChannel .seasonResults {
      margin-top: 5px; }
    .showContainer .startChannel .episodeResults {
      margin-top: 5px;
      margin-bottom: 10px; }
  .showContainer .typeOfChannel {
    border: none;
    background: #f1f1f1;
    width: 90%;
    color: black;
    font-size: 1em;
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

/*# sourceMappingURL=styles.css.map */
