@import "https://fonts.googleapis.com/css?family=Monoton";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#container-feed {
  width: 100%;
  max-width: 375px;
  height: 667px;
  background-color: #fff;
  border: 1px solid #1e776d;
  margin-left: 5em; }
  #container-feed nav {
    background-color: #1e776d;
    width: 100%;
    max-width: 375px;
    padding-bottom: .5em;
    position: fixed; }
    #container-feed nav ul li {
      display: inline-block;
      vertical-align: middle; }
      #container-feed nav ul li h3 {
        font-family: "Monoton", Verdana, sans-serif;
        font-size: 28px;
        color: #fff;
        letter-spacing: 2px;
        margin-left: 2.25em;
        margin-top: .2em; }
      #container-feed nav ul li i {
        font-size: 32px;
        padding-bottom: .5em;
        margin-left: .5em;
        color: #fff;
        height: .5em;
        cursor: pointer; }
      #container-feed nav ul li img {
        height: 2.5em;
        width: auto;
        border-radius: 50%;
        margin-left: .5em;
        margin-top: .25em;
        border: 1px solid #fff; }
  #container-feed .message-bar {
    width: 100%;
    max-width: 375px;
    background-color: #1e776d;
    padding: 1em 0 1em 0;
    border-top: 1px solid #fff;
    position: relative;
    top: 605px;
    bottom: 0; }
    #container-feed .message-bar .add {
      display: inline-block;
      padding: 5px 10px;
      border: none;
      background-color: #fff;
      cursor: pointer;
      margin-left: 1em; }
      #container-feed .message-bar .add i {
        color: #1e776d;
        font-size: 14px; }
    #container-feed .message-bar form {
      display: inline-block; }
      #container-feed .message-bar form input {
        padding: .5em 1.5em;
        margin-left: 6em; }
      #container-feed .message-bar form .submit-btn {
        padding: 5px 15px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        margin-left: 4em; }
        #container-feed .message-bar form .submit-btn i {
          color: #1e776d;
          font-size: 16px;
          font-weight: bolder; }
  #container-feed .post {
    width: 100%;
    max-height: 545px;
    overflow: scroll; }
    #container-feed .post ul {
      display: flex; }
      #container-feed .post ul li {
        border-top: 1px solid #1e776d;
        border-bottom: 1px solid #1e776d;
        font-family: "David Libre", Verdana, sans-serif;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        padding: .75em; }
        #container-feed .post ul li .avatar-div {
          text-align: center;
          border-right: 1px solid black; }
          #container-feed .post ul li .avatar-div .post-avatar {
            border-radius: 50%;
            height: 2.5em;
            border: 1px solid #1e776d; }
        #container-feed .post ul li .par-div {
          width: 12em; }
          #container-feed .post ul li .par-div p {
            width: 90%;
            text-align: left;
            display: inline-block; }
        #container-feed .post ul li .pop-div {
          width: 1em; }
          #container-feed .post ul li .pop-div .popcorn {
            height: 1.5em; }

#container-login {
  width: 100%;
  max-width: 375px;
  height: 667px;
  background-image: linear-gradient(130deg, #0c5a4e 0%, #1e776d 51%, #2b7078 75%); }
  #container-login header {
    width: 50%;
    margin: 0 auto;
    padding-top: 40%; }
    #container-login header p {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 18px;
      color: #fff;
      text-align: center;
      margin-bottom: 1em;
      margin-top: .5em; }
    #container-login header h1 {
      font-family: "Monoton", Verdana, sans-serif;
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 1.25; }
    #container-login header h2 {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 22px;
      color: #fff;
      text-align: center;
      line-height: 1.25; }
  #container-login .login-inputs, #container-login .sign-up-inputs {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5em; }
    #container-login .login-inputs .username, #container-login .sign-up-inputs .username {
      margin-bottom: 1em;
      border: 2px solid #30BFAF;
      padding: .5em; }
    #container-login .login-inputs ::-webkit-input-placeholder, #container-login .sign-up-inputs ::-webkit-input-placeholder {
      font-family: "Asap", Helvetica, sans-serif;
      letter-spacing: 1.75px; }
    #container-login .login-inputs .password, #container-login .sign-up-inputs .password {
      margin-bottom: 1em;
      border: 2px solid #30BFAF;
      padding: .5em; }
    #container-login .login-inputs .go-login, #container-login .sign-up-inputs .go-login, #container-login .sign-up-inputs .go-signup {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 14px;
      padding: 6px 15px;
      background-color: #30BFAF;
      border: none;
      color: #fff;
      cursor: pointer; }
  #container-login .sign-up-inputs .first-name, #container-login .sign-up-inputs .last-name, #container-login .sign-up-inputs .email, #container-login .sign-up-inputs .username-signup, #container-login .sign-up-inputs .password-signup, #container-login .sign-up-inputs .re-enter-password {
    margin-bottom: 1em;
    border: 2px solid #30BFAF;
    padding: .5em; }
  #container-login .sign-up-inputs .go-signup {
    background-color: #7DDBD0; }
  #container-login .buttons {
    margin-top: 2em;
    text-align: center; }
    #container-login .buttons .login {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 16px;
      padding: 10px 20px;
      background-color: #30BFAF;
      border: none;
      color: #fff;
      margin-right: .5em;
      cursor: pointer; }
    #container-login .buttons .sign-up {
      font-family: "Asap", Helvetica, sans-serif;
      font-size: 16px;
      padding: 10px 20px;
      background-color: #7DDBD0;
      border: none;
      color: #fff;
      margin-left: .5em;
      cursor: pointer; }
  #container-login .learn-more {
    font-family: "Asap", Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    color: #fff;
    text-align: center;
    margin-top: 1em;
    opacity: .75;
    cursor: pointer; }
  #container-login :hover {
    opacity: 1; }
  #container-login .about {
    padding-top: 1em;
    width: 60%;
    margin: 0 auto;
    font-family: "Asap", Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: justify;
    line-height: 1.5; }
  #container-login .center {
    text-align: center; }

/*# sourceMappingURL=styles.css.map */
