<div id="container-feed" ng-controller="postCtrl">
  <nav>
    <ul>
      <li class="hamburger" ng-click="menuFunc()"><i class="fa fa-bars" aria-hidden="true"></i></li>
      <li class="wp"><h3>WP</h3></li>
      <li class="avatar-nav"><img src="{{avatarThumb}}"></img></li>
      <!-- <li class="refresh" ng-click="refreshPosts()"><i class="fa fa-refresh" aria-hidden="true"></i><p class="newPostsRefresh">{{newPostsRefresh}}</p></li> -->
    </ul>
  </nav>

  <div class="sideMenu" ng-hide="menuShow">
    <ul class="menuButton">
      <li><a href="#/profile"><p>Profile<p><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      <li><p>Find Friends<p><i class="fa fa-users" aria-hidden="true"></i></li>
      <li><a href="#/landing"><p>Landing<p><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li ng-click="logOut()"><p>Log Out<p><i class="fa fa-sign-out fa-rotate-180" aria-hidden="true"></i></li>
    </ul>
  </div>

  <div class="post">
    <div class="entire-post" id="{{$index}}" ng-repeat = "post in allPosts">
      <ul class="postTest">
        <li class="list-avatar">
          <div class="avatar-div"><img class="post-avatar" src="{{post.thumb_url}}"></img></div>
          <div class="username-div"><p>{{post.username}}</p></div>
        </li>
        <li class="list-par"><div class="par-div"><p>{{post.content}}</p><div class="time-div"><p class="date">{{post.timestamp}}</p></div></div></li>
        <li class="list-pop">
          <div class="pop-div">
            <i ng-class="{'fa fa-star': post.popped}" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true" ng-click="setPostToPop(post); popStar(post)" ng-hide="post.popped"></i>
          </div>
          <div class="comment-div"><i class="fa fa-comment-o" aria-hidden="true" ng-click="clickComment(post)"></i></div>
        </li>
      </ul>
      <div class="contains-comment" ng-repeat="comment in post.comments">
        <div class="comment-left">
          <img class="commenter-avatar" src="{{comment.thumb_url}}"></img>
          <p class="commenter-username">{{comment.username}}</p>
        </div>
        <div class="comment-center">
          <p class="commenter-text">{{comment.content}}</p>
          <p class="commenter-timestamp">Commented at {{comment.timestamp}}</p>
        </div>
      </div>
      <div class="comment-section" ng-show="post.commentShow">
        <form ng-submit="submitComment(post, comment)">
          <input ng-hide="submittedConf" ng-model="comment.formData.commentContent" type="text" class="comment-box" placeholder="Add comment"></input>
          <button ng-hide="submittedConf" class="submit-comment"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
          <p ng-show="submittedConf">Submitted!</p>
        </form>
      </div>
    </div>
    <!-- <div class="commentsOnPosts" ng-repeat="comment in comments">
      <p>COMMENTS!</p>
    </div> -->
  </div>

  <section class="message-bar">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <form ng-submit="submitPost()">
      <input type="text" placeholder="New post" ng-model="postContent"></input>
      <i class="fa fa-angle-right" aria-hidden="true" ng-click="submitPost()"></i>
    </form>
  </section>
</div>
