<div id="landingContainer">
  <div class="navBar">
    <ul class="navMenu">
      <li class="menu" ng-click="menuFunc()"><i class="fa fa-bars" aria-hidden="true"></i></li>
      <li class="avatar"><img src="{{avatarThumb}}"/></li>
      <li class="logo">WP</li>
      <li class="search" ng-click="searchBarFunc()"><i class="fa fa-search" aria-hidden="true"></i></li>
  </div>
  <div class="sideMenu" ng-hide="menuShow">
    <ul class="menuButton">
      <a href="#/profile"><li><p>Profile<p><i class="fa fa-cog" aria-hidden="true"></i></li></a>
      <li ng-click="logOut()"><p>Log Out<p><i class="fa fa-sign-out fa-rotate-180" aria-hidden="true"></i></li>
      <li><p>Find Friends<p><i class="fa fa-users" aria-hidden="true"></i></li>
      <li><p>Message<p><i class="fa fa-envelope-o" aria-hidden="true"></i></li>

    </ul>
  </div>
  <div class="searchBarHolder" ng-show="searchBarShow">
      <input class="searchBar" type="text" placeholder="Search Shows & Users" ng-model="searchInput" ng-keyup="search(searchInput)"></input>
      <ul class='searchResult'>
        <li class="userOrShow" ng-repeat="user in usersSearchResults"><p class="type">{{user.type}}:</p> {{user.username}}{{user.showname}}<button ng-click="watchUserFunc(user)" class="watchButton">Watch!</button></li>
      <ul>
        <!-- <ul class='show'>
          <li ng-repeat="show in usersSearchResults">1{{show.showname}}</li>
        <ul> -->
  </div>
  <ul class="roomButtons" ng-show="buttonsShow">
    <!-- <div class="liveButtonBg"> -->
    <li class="liveButton" ng-click="upcomingFunc()"><p>Live</p></li>
    <!-- </div> -->
      <div class="upcoming" ng-hide="upcomingHide">
        <div ng-repeat="show in shows" class="upcomingDeets" ng-click="setActive(show)">{{show.showTitle}}
          <p class="startingIn">Starting in:</p>
          <p class="startCount"></p>{{counterWillGoHere}}
          <select ng-model="data.typeOfChannel" class="typeOfChannel">
            <option  value='All'>Public- View everyone's posts about this show!</option>
            <option  value='Watching'>Watching- View only the people you watch posts!</option>
          </select>
          <button class="playButton" ng-click="startLiveRoomFunc(data.typeOfChannel)">PLAY</button>
        </div>
      <div class="upcomingBumper"></div>
      </div>
    <li class="delayedButton" ng-click="delayedRoomFunc()"><p>Delayed</p></li>
      <div class="delayRoom" ng-hide="delayRoomHide">
        <p class="recentResults" ng-hide="showSelectHide">Your Recent Shows</p>
        <div class="showSelect" ng-repeat="recentShow in recentShows" ng-hide="showSelectHide" ng-click="showSelectFunc(); setActiveDelay(recentShow)">
          <p>{{recentShow.title}}</p>
        </div>
        <!-- ng-repeat="show in shows" class="upcomingDeets" ng-click="setActive(show)">{{show.showTitle}} -->
        <!-- <div class="showSelect" ng-hide="showSelectHide" ng-click="showSelectFunc()">
          <p>The Walking Dead</p>
        </div>
        <div class="showSelect" ng-hide="showSelectHide" ng-click="showSelectFunc()">
          <p>The Left Overs</p>
        </div> -->
        <div class="delayBumper" ng-hide="showSelectHide"></div>
        <div class="seasonSelect" ng-hide="seasonHide">
          <p class="seasonResults">Season
            <select  name="seasonForm" ng-model="data.season" ng-change='seasonSelectFunc(data.season)'class="seasonOptions">
              <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
            </select>
          </p>
          <p class="episodeResults">Episode
            <select ng-model="data.episode" class="seasonOptions">
              <option  ng-repeat="episode in episodes" value={{episode.episode}}>{{episode.episode}}</option>
            </select>
          </p>
          <div class="startRoom">
            <a href="#/feed" ng-click="startDelayedFunc(data.season, data.episode)">
              <p class="startButton">Start Channel</p>
            </a>
          </div>
          <div class="bumper">
          </div>
        </div>
      </div>

<!--
    <li class="hybridButton" ng-click="hybridRoomFunc()"><p>Hybrid</p></li>
      <div class="hybridRoom" ng-hide="hybridRoomHide">
        <input type="text" placeholder="Name your Channel" ng-model="hybridName"></input>
        <div class="hybridSelect" ng-hide="hybridSelectHide" ng-click="hybridSelectFunc()">
          <p>Game of Thrones</p>
        </div>
        <div class="hybridSelect" ng-hide="hybridSelectHide" ng-click="hybridSelectFunc()">
          <p>The Walking Dead</p>
        </div>
        <div class="hybridSelect" ng-hide="hybridSelectHide" ng-click="hybridSelectFunc()">
          <p>The Left Overs</p>
        </div>
        <p class="seasonResults" ng-hide="hybridSeasonHide">Season
          <select class="seasonOptions">
            <option value=1>1</option>
          </select>
        </p>
        <p class="episodeResults" ng-hide="hybridSeasonHide">Episode
          <select class="seasonOptions">
            <option value=1>1</option>
          </select>
        </p>
        <div class="startRoom" ng-click="hybridStartFunc()" ng-hide="hybridSeasonHide">
          <a href="#/feed"><p class="startButton">Start Channel</p></a>
        </div>
        <div class="bumper">
        </div>
      </div> -->
  </ul>
</div>
