<div id="landingContainer">
  <div class="navBar">
    <ul class="navMenu">
      <li class="menu" ng-click="menuFunc()"><i class="fa fa-bars" aria-hidden="true"></i></li>
      <li class="avatar"><img src="{{avatarThumb}}"/></li>
      <li class="logo">WP</li>
      <!-- <li class="search" ng-click="searchBarFunc()"><i class="fa fa-search" aria-hidden="true"></i></li> -->
  </div>
  <div class="sideMenu" ng-hide="menuShow">
    <ul class="menuButton">
      <a href="#/profile" ng-click="profileSet()"><li><p>Profile<p><i class="fa fa-cog" aria-hidden="true"></i></li></a>
      <li ng-click="logOut()"><p>Log Out<p><i class="fa fa-sign-out fa-rotate-180" aria-hidden="true"></i></li>
      <li><p>Find Friends<p><i class="fa fa-users" aria-hidden="true"></i></li>
      <li><p>Message<p><i class="fa fa-envelope-o" aria-hidden="true"></i></li>

    </ul>
  </div>
  <div class="searchBarHolder" ng-show="searchBarShow">
      <p ng-click='searchBarFunc()'><i class="fa fa-chevron-left" aria-hidden="true"></i></p>
      <input class="searchBar" type="text" placeholder="Search Shows & Users" ng-model="searchInput" ng-keyup="search(searchInput)"></input>
      <ul class='searchResult'>
        <p class="popularHeader" ng-hide="popularHide">Check out what's popular now!</p>
        <p class="popularHeader" ng-show="resultsShow">Find your show and go!</p>
        <li class="popular" ng-repeat="show in popularShows" ng-hide="popularHide" ng-click="setToShowFunc(show)">{{show.title}}</li>
        <!-- <li class="userOrShow" ng-repeat="searchResult in showSearchResults"><p class="type">{{user.type}}:<a href="#/profile" ng-click="goToProfile(user)"></p> {{user.username}}{{user.showname}}</a><button ng-click="watchUserFunc(user)" class="watchButton">Watch!</button></li> -->
        <li class="userOrShow" ng-repeat="searchResult in showSearchResults" ng-click="setToShowFunc(searchResult)"><p class="showName">{{searchResult.title}}</li>
      <ul>

  </div>
  <div class="startingLiveRoom" ng-show="startLiveRoomShow">
    <p class="setUp">Just setting up your feed!</p>
    <i class="fa fa-spin fa-spinner" aria-hidden="true"></i>
    <p class="back" ng-click="upcomingFunc()"><i class="fa fa-chevron-left" aria-hidden="true"></i>Go Back!</p>
    <p class="setUpPosts">Whose posts do you want to see?</p>
    <div class='roomSelection'>
      <div class="allRoom" ng-click="startAllLiveRoomFunc()"><p>Everyone watching live</p></div>
      <div class="watchRoom" ng-click="startWatchingLiveRoomFunc()"><p>Only your friends</p></div>
    </div>
  </div>
  <div class="delayTimer" ng-show="delayTimerShow">
    <p>Your feed will start in:</p> <p class="countDown"> {{delayCounter}}</p>
  </div>
  <div class="landingContentWrapper" ng-show="landingContentWrapperShow">
    <p class="partyRoom" ng-hide="partyInputShow">Joining a Party Channel?</p>
    <form class="partyRoomForm" ng-submit="partyRoomJoinFunc()" ng-hide="partyInputShow"><input class="partyRoomId" ng-model="partyRoomId" placeholder="Party Room Id"></input><button type="submit" class="submitPartyRoom">go</button>
    </form>
    <ul class="upcomingShows" ng-hide="upcomingButtonsShow" ng-click="upcomingFunc()"><p class="startSoon">Starting Soon</p>
    </ul>
    <ul class="upcomingShowsDetails" ng-hide="upcomingShowDetails">
      <li class="upcomingShow" ng-repeat="show in upcomingShows" ng-click="setActive(show)">
        <p class="showTitle">{{show.show}}</p>
        <p class="epTitle">{{show.episode_title}}</p>
        <p class="icon"><i class="fa fa-play" aria-hidden="true"></i></p>
    </li>
  </ul>

    <ul class="recentShows" ng-hide="recentButtonsShow" ng-click="recentShowDetails()"><p class="recentSoon">Recent Shows!</p>

    </ul>
    <ul class="recentShowsDetails" ng-show="recentShowHide">
      <li class="recentShow" ng-repeat="recentShow in recentShows" ng-show="recentShowHide" ng-click="setActiveRecent(recentShow)">
        <p class="showTitle">{{recentShow.title}}</p>
      </li>
    </ul>
    <div class="startDelayRoom" ng-hide="delayButtonsShow" ng-click='searchBarFunc(); showSearchFunc()'>
      <p class="create">Find Shows</p>
    </div>

  <!-- <ul class="roomButtons" ng-show="buttonsShow">

    <li class="liveButton" ng-click="upcomingFunc()"><p>Live</p></li>

      <div class="upcoming" ng-hide="upcomingHide">
        <div ng-repeat="show in upcomingShows" class="upcomingDeets" ng-click="setActive(show)">
          <p class="showTitle">{{show.show}}<br><span class="epTitle">{{show.episode_title}}</span></p>
          <p class="selectP">Pick your feed and start your channel!</p>
          <button class="typeOfChannel" value="all" name="all" ng-click="startAllLiveRoomFunc();setActive(show)"><p>All:</p><p>See all posts from everyone!</p></button><button class="typeOfChannel" value="watching" name="watching" ng-click="startWatchingLiveRoomFunc();setActive(show)"><p>Watching:</p><p>Only see the people you watch posts'!</p></button>
        </div>
      <div class="upcomingBumper"></div>
      </div>
    <li class="delayedButton" ng-click="delayedRoomFunc()"><p>Delayed</p><p class="partyRoom" ng-hide="partyRoomHide">Joining a Party Room?</p>
      <form ng-submit="partyRoomJoinFunc()" ng-hide="partyRoomHide"><input class="partyRoomId" ng-model="partyRoomId" placeholder="Party Room Id"></input><button type="submit" class="submitPartyRoom">go</button>
      </form>
      </li>
      <div class="delayRoom" ng-hide="delayRoomHide">
        <p class="recentResults" ng-hide="showSelectHide">Your Recent Shows</p>
        <div class="showSelect" ng-repeat="recentShow in recentShows" ng-hide="showSelectHide" ng-click="showSelectFunc(); setActiveDelay(recentShow)">
          <p>{{recentShow.title}}</p>
        </div>

        <div class="delayBumper" ng-hide="showSelectHide"></div>
        <div class="seasonSelect" ng-hide="seasonHide">
          <input type=checkbox name="partyRoom" ng-model="partyRoom" ng-trueValue="partyRoom" ng-falseValue="false">Party Room?</input>
          <p class="seasonResults">Season
            <select  name="seasonForm" ng-model="data.season" ng-change='seasonSelectFunc(data.season)'class="seasonOptions">
              <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
            </select>
          </p>
          <p class="episodeResults">Episode
            <select ng-model="data.episode" class="seasonOptions">
              <option  ng-repeat="episode in episodes" value={{episode.episode}}>{{episode.episode}}</option>
            </select>
          </p>
          <button class="typeOfChannel" value="all" name="all" ng-click="startAllDelayRoomFunc(); startDelayedFunc(data.season, data.episode)"><p>All:</p><p>See all posts from everyone!</p></button><button class="typeOfChannel" value="watching" name="watching" ng-click="startWatchingDelayRoomFunc(); startDelayedFunc(data.season, data.episode)"><p>Watching:</p><p>Only see the people you watch posts'!</p></button>


          <div class="bumper">
          </div>
        </div>
      </div>

  </ul> -->
</div>
</div>
