<div id="container-login" ng-controller="loginCtrl">
  <header>
    <!-- <p ng-hide="about"> What is </p> -->
    <h1>WATCH<br>PARTY</h1>
    <!-- <p ng-hide="about"> ? </p> -->
  </header>

  <section class="login-inputs" ng-hide="login">

      <ul>
        <form ng-submit="submitLogin()">
        <li><input type="text" placeholder="email" class="username" ng-model="username"></input></li>
        <li><input type="password" placeholder="password" class="password" ng-model="password"></input></li>
        </form>
      </ul>

      <p class="invalid" ng-show="loginError">invalid email/password combination</p>
      <p class="invalid-server" ng-show="loginErrorServer">Sorry, we're currently experiencing some technical issues. <br> Please try again shortly.</p>
    <!-- <button class="go-login" ng-click="submitLogin()">GO <i class="fa fa-angle-right" aria-hidden="true"></i></button> -->
  </section>

  <section class="sign-up-inputs" ng-hide="signup">
    <ul>
      <li><input type="text" placeholder="first name" class="first-name" ng-model="firstName" ng-hide="signupSuccess"></input></li>
      <li><input type="text" placeholder="last name" class="last-name" ng-model="lastName" ng-hide="signupSuccess"></input></li>
      <li><input type="text" placeholder="email" class="email" ng-model="email" ng-hide="signupSuccess"></input>
      <li><input type="text" placeholder="username" class="username-signup" ng-model="newUsername" ng-hide="signupSuccess"></input></li>
      <li><input type="password" placeholder="password" class="password-signup" ng-model="newPassword" ng-hide="signupSuccess"><div class="check"><i class="fa fa-check-circle" aria-hidden="true" ng-hide="signupSuccess"></i></div>
      </input></li>
      <li><input type="password" placeholder="re-enter password" class="re-enter-password" ng-model="newPassword2" ng-hide="signupSuccess"><div class="check2"><i class="fa fa-check-circle" aria-hidden="true" ng-hide="signupSuccess"></i></div>
      </input></li>
    </ul>
    <p class="pw-length" ng-show="pwLength">password must be at least 6 characters</p>
    <p class="signup-message" ng-show="signupSuccess">Welcome! <br> Please check your email for confirmation.</p>
    <!-- <button class="go-signup" ng-click="saveNewUser()">SUBMIT <i class="fa fa-angle-right" aria-hidden="true"></i></button> -->
  </section>

  <section class="buttons">
    <button class="login" ng-click="showLogin()" ng-show="login">LOG IN</button>
    <button class="login" ng-hide="login" ng-click="submitLogin()">LOG IN <i ng-hide="login" class="fa fa-angle-right" aria-hidden="true"></i></button>
    <button class="sign-up" ng-click="showSignup()" ng-show="signup">SIGN UP</button>
    <button class="sign-up" ng-hide="signup" ng-click="saveNewUser()">SIGN UP <i ng-hide="signup" class="fa fa-angle-right" aria-hidden="true"></i></button>
  </section>

  <p ng-click="aboutShow()" ng-show="about" class="learn-more">Learn more</p>
  <i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show="loginLoad"></i>
  <p ng-hide="about" class="about center">Your show.</p>
  <p ng-hide="about" class="about center">Your friends.</p>
  <p ng-hide="about" class="about center">On your time.</p>
  <p ng-hide="about" class="about">The only social media platform built specifically for television viewers like you.</p>

</div>
