#container-login {
  width: 100%;
  max-width: 375px;
  height: 667px;
  // background-color: $Main-Green;
  background-image: linear-gradient(130deg, rgb(14, 100, 82) 0%, rgb(30, 119, 109) 51%, rgb(43, 112, 120) 75%);
    header {
      width: 50%;
      // border: 1px solid white;
      margin: 0 auto;
      padding-top: 50%;
      h1 {
        font-family: $Font-Header;
        font-size: 40px;
        color: #fff;
        text-align: center;
        line-height: 1.25;
        // letter-spacing: .5px;
      }
    }
    .login-inputs {
      // border: 1px solid white;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      margin-top: 2.5em;
        .username {
          margin-bottom: 1em;
          border: 2px solid #30BFAF;
          padding: .5em;
        }
        .password {
          margin-bottom: 1em;
          border: 2px solid #30BFAF;
          padding: .5em;
        }
    }
    .sign-up-inputs {
      @extend .login-inputs;
      .first-name {
        margin-bottom: 1em;
        border: 2px solid #30BFAF;
        padding: .5em;
      }
      .last-name {
        @extend .first-name;
      }
      .email {
        @extend .first-name;
      }
      .username-signup {
        @extend .first-name;
      }
      .password-signup {
        @extend .first-name;
      }
      .re-enter-password {
        @extend .first-name;
      }
    }
    .buttons {
      // border: 1px solid white;
      margin-top: 2em;
      text-align: center;
      .login {
        font-family: $Font-Menu;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #30BFAF;
        // border: 1px solid #fff;
        border: none;
        color: #fff;
        margin-right: .5em;
        cursor: pointer;
      }
      .sign-up {
        font-family: $Font-Menu;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #7DDBD1;
        // border: 1px solid #fff;
        border: none;
        color: #fff;
        margin-left: .5em;
        cursor: pointer;
      }
    }






}
